<h1>Meus filmes - Carlos Rodrigues</h1>
<button><a href="{% url 'novo_filme'  %}">Novo filme</button>
<table>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Finalizado</th>
        <th>Resenha</th>
    </tr>
    {% for dado in dados %}
    <tr>
        <td>{{dado.id}}</td>
        <td>{{dado.filme}}</td>
        <td>{{dado.lido}}</td>
        <td>{{dado.resenha}}</td>
        <td><button><a href="{% url 'detalhe' dado.id %}">Detalhe</a></button></td>
        <td><button><a href="{% url 'editar' dado.id %}">Editar</a></button></td>
        
    </tr>
    {% endfor %}
</table>